*{
  box-sizing: border-box;
  list-style: none;
}
body {
  margin: 0;
  background-color: #121010;
}

.container {
  width: 85%;
  margin: 0 auto;
}


/* Start Navbar */
.navLink {
text-decoration: none;
color: #FFF;
font-size: 20px;
}
.navLink:hover {
  color: #8f6220;
}

/* End Navbar */

/* Start Creative */ 
.CreativeLink{
  text-decoration: none;
  color:#8f6220;
  color:#8888885d;

}
/* End Creative */
